In [14]:
import pandas as pd

# 1) Pickle 파일 6개 불러오기
df1 = pd.read_pickle("preprocessing/demographic/df_demo.pkl")
df2 = pd.read_pickle("preprocessing/examination/df_exam.pkl")
df3 = pd.read_pickle("preprocessing/lab/df_lab.pkl")
df4 = pd.read_pickle("preprocessing/label/df_true.pkl")
df5 = pd.read_pickle("preprocessing/question/df_ques.pkl")

# 2) 리스트로 묶기
dfs = [df1, df2, df3, df4, df5]

# 3) 공통 병합 key (예: SEQN)
key = "subject_no"   # 네 데이터에서 공통으로 존재하는 컬럼명으로 수정하면 됨

# 4) reduce 형태로 순차 병합
from functools import reduce

df_merged = reduce(lambda left, right: pd.merge(left, right, on=key, how='inner'), dfs)

# 5) 결과 확인
print(df_merged.shape)
df_merged.head()

(745, 35)

,subject_no,gender,age,race,educ,marry,house,pov,wt,ht,...,hct,ldl,hdl,acratio,glu,insulin,crp,dbs,mvpa,ac_week
0,130379.0,1.0,66.0,3.0,5.0,1.0,2.0,5.00,101.8,174.2,...,43.9,135.0,60.0,6.64,99.0,19.91,2.03,0.0,450.000000,17.307692
1,130386.0,1.0,34.0,1.0,4.0,1.0,3.0,1.33,90.6,173.3,...,43.5,111.0,46.0,4.07,100.0,11.38,1.05,0.0,43.808976,4.000000
2,130394.0,1.0,51.0,3.0,5.0,1.0,4.0,5.00,76.7,177.3,...,42.6,120.0,48.0,6.29,88.0,7.20,0.92,0.0,555.000000,0.576923
3,130398.0,1.0,47.0,1.0,3.0,1.0,2.0,1.67,73.1,159.5,...,42.2,122.0,41.0,12.41,107.0,9.81,5.22,0.0,844.615385,3.500000
4,130436.0,1.0,50.0,3.0,5.0,1.0,2.0,5.00,94.0,171.7,...,50.3,65.0,49.0,4.94,104.0,7.26,0.71,0.0,1260.000000,2.000000

In [15]:
df_merged

,subject_no,gender,age,race,educ,marry,house,pov,wt,ht,...,hct,ldl,hdl,acratio,glu,insulin,crp,dbs,mvpa,ac_week
0,130379.0,1.0,66.0,3.0,5.0,1.0,2.0,5.00,101.8,174.2,...,43.9,135.0,60.0,6.64,99.0,19.91,2.03,0.0,450.000000,17.307692
1,130386.0,1.0,34.0,1.0,4.0,1.0,3.0,1.33,90.6,173.3,...,43.5,111.0,46.0,4.07,100.0,11.38,1.05,0.0,43.808976,4.000000
2,130394.0,1.0,51.0,3.0,5.0,1.0,4.0,5.00,76.7,177.3,...,42.6,120.0,48.0,6.29,88.0,7.20,0.92,0.0,555.000000,0.576923
3,130398.0,1.0,47.0,1.0,3.0,1.0,2.0,1.67,73.1,159.5,...,42.2,122.0,41.0,12.41,107.0,9.81,5.22,0.0,844.615385,3.500000
4,130436.0,1.0,50.0,3.0,5.0,1.0,2.0,5.00,94.0,171.7,...,50.3,65.0,49.0,4.94,104.0,7.26,0.71,0.0,1260.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,142198.0,1.0,68.0,3.0,4.0,1.0,4.0,1.30,94.8,178.6,...,43.7,150.0,47.0,46.56,99.0,16.61,3.69,0.0,1540.000000,0.173077
741,142242.0,2.0,70.0,3.0,5.0,2.0,1.0,5.00,42.8,155.4,...,41.3,133.0,81.0,8.00,82.0,1.35,0.66,0.0,260.000000,1.000000
742,142253.0,2.0,74.0,3.0,5.0,2.0,1.0,2.74,68.5,158.5,...,43.1,83.0,74.0,7.29,97.0,9.31,0.67,0.0,447.692308,4.000000
743,142267.0,1.0,57.0,3.0,5.0,1.0,3.0,4.12,74.4,176.9,...,45.2,171.0,55.0,4.55,105.0,6.60,0.42,0.0,300.000000,7.000000
744,142299.0,1.0,33.0,1.0,4.0,1.0,2.0,3.28,113.8,178.5,...,46.3,106.0,33.0,5.24,204.0,22.77,8.81,1.0,840.000000,0.173077

In [16]:
print(df_merged.columns.to_list())

['subject_no', 'gender', 'age', 'race', 'educ', 'marry', 'house', 'pov', 'wt', 'ht', 'bmi', 'wst', 'hip', 'dia', 'pulse', 'sys', 'alt', 'albumin', 'ast', 'crea', 'chol', 'tyg', 'ggt', 'wbc', 'hb', 'hct', 'ldl', 'hdl', 'acratio', 'glu', 'insulin', 'crp', 'dbs', 'mvpa', 'ac_week']

In [17]:
X=df_merged.drop(columns=['subject_no','dbs'])
y=df_merged[['dbs']]

In [18]:
X

,gender,age,race,educ,marry,house,pov,wt,ht,bmi,...,hb,hct,ldl,hdl,acratio,glu,insulin,crp,mvpa,ac_week
0,1.0,66.0,3.0,5.0,1.0,2.0,5.00,101.8,174.2,33.5,...,15.2,43.9,135.0,60.0,6.64,99.0,19.91,2.03,450.000000,17.307692
1,1.0,34.0,1.0,4.0,1.0,3.0,1.33,90.6,173.3,30.2,...,15.4,43.5,111.0,46.0,4.07,100.0,11.38,1.05,43.808976,4.000000
2,1.0,51.0,3.0,5.0,1.0,4.0,5.00,76.7,177.3,24.4,...,14.7,42.6,120.0,48.0,6.29,88.0,7.20,0.92,555.000000,0.576923
3,1.0,47.0,1.0,3.0,1.0,2.0,1.67,73.1,159.5,28.7,...,14.5,42.2,122.0,41.0,12.41,107.0,9.81,5.22,844.615385,3.500000
4,1.0,50.0,3.0,5.0,1.0,2.0,5.00,94.0,171.7,31.9,...,17.4,50.3,65.0,49.0,4.94,104.0,7.26,0.71,1260.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740,1.0,68.0,3.0,4.0,1.0,4.0,1.30,94.8,178.6,29.7,...,14.7,43.7,150.0,47.0,46.56,99.0,16.61,3.69,1540.000000,0.173077
741,2.0,70.0,3.0,5.0,2.0,1.0,5.00,42.8,155.4,17.7,...,13.8,41.3,133.0,81.0,8.00,82.0,1.35,0.66,260.000000,1.000000
742,2.0,74.0,3.0,5.0,2.0,1.0,2.74,68.5,158.5,27.3,...,14.6,43.1,83.0,74.0,7.29,97.0,9.31,0.67,447.692308,4.000000
743,1.0,57.0,3.0,5.0,1.0,3.0,4.12,74.4,176.9,23.8,...,16.3,45.2,171.0,55.0,4.55,105.0,6.60,0.42,300.000000,7.000000
744,1.0,33.0,1.0,4.0,1.0,2.0,3.28,113.8,178.5,35.7,...,15.5,46.3,106.0,33.0,5.24,204.0,22.77,8.81,840.000000,0.173077

In [19]:
X.to_pickle("input.pkl")

In [20]:
y.to_pickle("output.pkl")