In [2]:
#data load, concat(ref=SEQN), dropna

import pandas as pd
from functools import reduce

#data load, feature name alteration
df = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\DEMO_L.xpt", format='xport')
df_fil=df[['SEQN','RIAGENDR','RIDAGEYR','RIDRETH3','DMDEDUC2','DMDMARTZ','DMDHHSIZ','INDFMPIR']] 

df_fil=df_fil.dropna()

df_fil = df_fil.rename(columns={
    'SEQN': 'subject_no',
    'RIAGENDR': 'gender', 
    'RIDAGEYR': 'age',
    'RIDRETH3': 'race',
    'DMDEDUC2': 'educ',
    'DMDMARTZ': 'marry',
    'DMDHHSIZ': 'house',
    'INDFMPIR': 'pov',
})

df_fil.shape

(6488, 8)

In [3]:
df_fil

       subject_no  gender   age  race  educ  marry  house   pov
0        130378.0     1.0  43.0   6.0   5.0    1.0    4.0  5.00
1        130379.0     1.0  66.0   3.0   5.0    1.0    2.0  5.00
2        130380.0     2.0  44.0   2.0   3.0    1.0    7.0  1.41
6        130384.0     1.0  43.0   1.0   2.0    3.0    2.0  0.63
7        130385.0     2.0  65.0   3.0   3.0    1.0    2.0  5.00
...           ...     ...   ...   ...   ...    ...    ...   ...
11925    142303.0     2.0  69.0   7.0   3.0    2.0    2.0  0.98
11927    142305.0     2.0  76.0   1.0   1.0    2.0    4.0  2.25
11930    142308.0     1.0  50.0   2.0   4.0    1.0    3.0  1.95
11931    142309.0     1.0  40.0   2.0   4.0    2.0    5.0  3.11
11932    142310.0     2.0  80.0   3.0   3.0    1.0    2.0  5.00

[6488 rows x 8 columns]

In [4]:
#outlier extract
#df_fil = df_fil[df_fil['alt'] <= 200.0]
df_fil[['gender']].value_counts()  
counts = df_fil['gender'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_fil[['age']].value_counts()  
counts = df_fil['age'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)              #age: 20~80

df_fil[['race']].value_counts()  
counts = df_fil['race'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_fil = df_fil[df_fil['educ'] != 9.0]
df_fil[['educ']].value_counts()  
counts = df_fil['educ'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)


df_fil = df_fil[df_fil['marry'] != 77.0]
df_fil = df_fil[df_fil['marry'] != 99.0]
df_fil[['marry']].value_counts()  
counts = df_fil['marry'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_fil[['house']].value_counts()  
counts = df_fil['house'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_fil[['pov']] = df_fil[['pov']].astype(float)
df_fil[['pov']].value_counts()  
counts = df_fil['pov'].value_counts()
counts_sorted = counts.sort_index()
print(counts_sorted)

pov
5.397605e-79      68
1.000000e-02       6
2.000000e-02      12
3.000000e-02      13
4.000000e-02      14
                ...
4.940000e+00       8
4.950000e+00       1
4.970000e+00       7
4.990000e+00       1
5.000000e+00    1614
Name: count, Length: 469, dtype: int64

In [5]:
df_fil

       subject_no  gender   age  race  educ  marry  house   pov
0        130378.0     1.0  43.0   6.0   5.0    1.0    4.0  5.00
1        130379.0     1.0  66.0   3.0   5.0    1.0    2.0  5.00
2        130380.0     2.0  44.0   2.0   3.0    1.0    7.0  1.41
6        130384.0     1.0  43.0   1.0   2.0    3.0    2.0  0.63
7        130385.0     2.0  65.0   3.0   3.0    1.0    2.0  5.00
...           ...     ...   ...   ...   ...    ...    ...   ...
11925    142303.0     2.0  69.0   7.0   3.0    2.0    2.0  0.98
11927    142305.0     2.0  76.0   1.0   1.0    2.0    4.0  2.25
11930    142308.0     1.0  50.0   2.0   4.0    1.0    3.0  1.95
11931    142309.0     1.0  40.0   2.0   4.0    2.0    5.0  3.11
11932    142310.0     2.0  80.0   3.0   3.0    1.0    2.0  5.00

[6475 rows x 8 columns]

In [6]:
df_fil.to_pickle("df_demo.pkl")