In [51]:
#data load, concat(ref=SEQN), dropna

import pandas as pd
from functools import reduce

#data load, feature name alteration
df1 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\BMX_L.xpt", format='xport')
df_fil1=df1[['SEQN','BMXWT','BMXHT','BMXBMI','BMXWAIST','BMXHIP']]

df2 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\BPXO_L.xpt", format='xport')
df_fil2=df2[['SEQN','BPXODI3','BPXOPLS3','BPXOSY3']] 


#data concat
dfs = [df_fil1, df_fil2]
df_merged = reduce(
    lambda left, right: pd.merge(left, right, on="SEQN", how="inner"),
    dfs
)

#data dropna
df_merged=df_merged.dropna()

#column rename
df_merged2 = df_merged.rename(columns={
    'SEQN': 'subject_no',
    'BMXWT': 'wt',
    'BMXHT': 'ht',
    'BMXBMI':'bmi',
    'BMXWAIST':'wst',
    'BMXHIP':'hip',
    'BPXODI3':'dia',
    'BPXOPLS3':'pulse',
    'BPXOSY3':'sys',
})

df_merged2.shape

(6617, 9)

In [52]:
df_merged2

      subject_no     wt     ht   bmi    wst    hip   dia  pulse    sys
0       130378.0   86.9  179.5  27.0   98.3  102.9  94.0   82.0  132.0
1       130379.0  101.8  174.2  33.5  114.7  112.4  76.0   73.0  113.0
2       130380.0   69.4  152.9  29.7   93.5   98.0  76.0   77.0  104.0
3       130386.0   90.6  173.3  30.2  106.1  110.6  75.0   64.0  115.0
4       130387.0  103.5  155.9  42.6  122.0  148.9  78.0   77.0  145.0
...          ...    ...    ...   ...    ...    ...   ...    ...    ...
7794    142304.0   48.9  162.4  18.5   69.6   81.4  74.0   79.0  116.0
7795    142305.0   60.4  151.4  26.4   89.0   96.4  79.0   71.0  144.0
7798    142308.0   79.3  173.3  26.4   98.4   97.7  74.0   69.0  112.0
7799    142309.0   81.9  179.1  25.5   96.0  103.3  81.0   83.0  128.0
7800    142310.0   72.1  161.7  27.6  110.8  115.0  81.0   79.0  129.0

[6617 rows x 9 columns]

In [53]:
#outlier extract
df_merged2 = df_merged2[df_merged2['wt'] <= 200.0]
df_merged2[['wt']].value_counts()  
counts = df_merged2['wt'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2[['ht']].value_counts()  
counts = df_merged2['ht'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['bmi'] <= 60.0]
df_merged2[['bmi']].value_counts()  
counts = df_merged2['bmi'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['wst'] <= 160.0]
df_merged2[['wst']].value_counts()  
counts = df_merged2['wst'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['hip'] <= 160.0]
df_merged2[['hip']].value_counts()  
counts = df_merged2['hip'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2[['sys']].value_counts()  
counts = df_merged2['sys'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)   #lower bound?

df_merged2[['dia']].value_counts()  
counts = df_merged2['dia'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['pulse'] <= 130.0]
df_merged2[['pulse']].value_counts()  
counts = df_merged2['pulse'].value_counts()
counts_sorted = counts.sort_index()
print(counts_sorted)

pulse
31.0     1
36.0     2
38.0     1
39.0     1
40.0     2
        ..
120.0    2
121.0    1
123.0    1
127.0    1
128.0    2
Name: count, Length: 88, dtype: int64

In [54]:
df_merged2

      subject_no     wt     ht   bmi    wst    hip   dia  pulse    sys
0       130378.0   86.9  179.5  27.0   98.3  102.9  94.0   82.0  132.0
1       130379.0  101.8  174.2  33.5  114.7  112.4  76.0   73.0  113.0
2       130380.0   69.4  152.9  29.7   93.5   98.0  76.0   77.0  104.0
3       130386.0   90.6  173.3  30.2  106.1  110.6  75.0   64.0  115.0
4       130387.0  103.5  155.9  42.6  122.0  148.9  78.0   77.0  145.0
...          ...    ...    ...   ...    ...    ...   ...    ...    ...
7794    142304.0   48.9  162.4  18.5   69.6   81.4  74.0   79.0  116.0
7795    142305.0   60.4  151.4  26.4   89.0   96.4  79.0   71.0  144.0
7798    142308.0   79.3  173.3  26.4   98.4   97.7  74.0   69.0  112.0
7799    142309.0   81.9  179.1  25.5   96.0  103.3  81.0   83.0  128.0
7800    142310.0   72.1  161.7  27.6  110.8  115.0  81.0   79.0  129.0

[6590 rows x 9 columns]

In [55]:
df_merged2.to_pickle("df_exam.pkl")