In [198]:
#data load, concat(ref=SEQN), dropna

import pandas as pd
from functools import reduce

#data load, feature name alteration
df1 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\BIOPRO_L.xpt", format='xport')
df_fil1=df1[['SEQN','LBXSATSI','LBXSAL','LBXSASSI','LBXSCR','LBXSCH','LBXSTR','LBXSGTSI']] #'LBXGLU', 'LBXIN','LBXHSCRP'

df2 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\CBC_L.xpt", format='xport')
df_fil2=df2[['SEQN','LBXWBCSI','LBXHGB','LBXHCT']] #'LBXGLU', 'LBXIN','LBXHSCRP'

df3 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\TRIGLY_L.xpt", format='xport')                 #데이터 너무 적음
df_fil3=df3[['SEQN','LBDLDLM']] #'LBXGLU', 'LBXIN','LBXHSCRP'

df4 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\HDL_L.xpt", format='xport')
df_fil4=df4[['SEQN','LBDHDD']] 

df5 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\ALB_CR_L.xpt", format='xport')
df_fil5=df5[['SEQN','URDACT']] 

df6 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\GLU_L.xpt", format='xport')          #데이터 너무 적음
df_fil6=df6[['SEQN','LBXGLU']] 

df7 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\INS_L.xpt", format='xport')
df_fil7=df7[['SEQN','LBXIN']] 

df8 = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\HSCRP_L.xpt", format='xport')
df_fil8=df8[['SEQN','LBXHSCRP']] 

#data concat
dfs = [df_fil1, df_fil2, df_fil3,df_fil4,df_fil5,df_fil6,df_fil7,df_fil8]
df_merged = reduce(
    lambda left, right: pd.merge(left, right, on="SEQN", how="inner"),
    dfs
)

#data dropna
df_merged=df_merged.dropna()

#column rename
df_merged2 = df_merged.rename(columns={
    'SEQN': 'subject_no',
    'LBXSATSI': 'alt',
    'LBXSAL': 'albumin',
    'LBXSASSI':'ast',
    'LBXSCR':'crea',
    'LBXSCH':'chol',
    'LBXSTR':'tyg',
    'LBXSGTSI':'ggt',
    'LBXGLU':'glu',
    'LBXHCT':'hct',
    'LBXHGB':'hb',
    'LBXWBCSI':'wbc',
    'LBDLDLM':'ldl',
    'LBDHDD':'hdl',
    'URDACT':'acratio',
    'LBXIN':'insulin',
    'LBXHSCRP':'crp'

})

df_merged2.shape

(3332, 17)

In [199]:
df_merged2

,subject_no,alt,albumin,ast,crea,chol,tyg,ggt,wbc,hb,hct,ldl,hdl,acratio,glu,insulin,crp
0,130378.0,39.0,4.3,25.0,0.80,266.0,153.0,41.0,4.7,15.7,45.3,190.0,45.0,17.00,113.0,15.53,1.78
1,130379.0,17.0,3.9,20.0,0.79,217.0,88.0,31.0,6.3,15.2,43.9,135.0,60.0,6.64,99.0,19.91,2.03
2,130380.0,13.0,3.7,15.0,0.64,183.0,375.0,44.0,5.7,13.8,40.1,90.0,49.0,7.92,156.0,16.33,5.62
3,130386.0,34.0,4.3,20.0,0.82,185.0,140.0,28.0,5.5,15.4,43.5,111.0,46.0,4.07,100.0,11.38,1.05
4,130394.0,28.0,4.4,24.0,0.84,179.0,59.0,28.0,6.6,14.7,42.6,120.0,48.0,6.29,88.0,7.20,0.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3990,142300.0,17.0,4.0,20.0,0.56,164.0,133.0,15.0,7.0,9.0,29.0,89.0,55.0,12.90,95.0,10.35,2.85
3991,142301.0,16.0,4.3,28.0,1.03,138.0,143.0,14.0,9.1,14.5,42.8,67.0,48.0,46.29,110.0,5.62,1.11
3992,142303.0,27.0,4.3,30.0,0.62,111.0,152.0,30.0,5.3,14.1,42.5,53.0,34.0,16.13,160.0,17.09,2.15
3993,142305.0,18.0,4.0,30.0,0.63,180.0,189.0,17.0,17.4,13.6,39.4,101.0,51.0,8.01,132.0,24.86,2.50
3995,142309.0,59.0,4.5,25.0,1.05,255.0,106.0,21.0,3.5,14.7,43.9,179.0,54.0,3.65,96.0,6.22,0.53

In [202]:
#outlier extract
df_merged2 = df_merged2[df_merged2['alt'] <= 200.0]
df_merged2[['alt']].value_counts()  
counts = df_merged2['alt'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['albumin'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['ast'] <= 200.0]
counts = df_merged2['ast'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['crea'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['chol'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['tyg'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['ggt'] <= 200.0]
counts = df_merged2['ggt'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['wbc'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['hb'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['hct'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['ldl'] <= 200.0]
counts = df_merged2['ldl'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

counts = df_merged2['hdl'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['acratio'] <= 500.0]
counts = df_merged2['acratio'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['glu'] < 400.0]
counts = df_merged2['glu'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['insulin'] <= 100.0]
counts = df_merged2['insulin'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2 = df_merged2[df_merged2['crp'] <= 50.0]
counts = df_merged2['crp'].value_counts()
counts_sorted = counts.sort_index()
#print(counts_sorted)

df_merged2.shape

(3216, 17)

In [203]:
df_merged2

,subject_no,alt,albumin,ast,crea,chol,tyg,ggt,wbc,hb,hct,ldl,hdl,acratio,glu,insulin,crp
0,130378.0,39.0,4.3,25.0,0.80,266.0,153.0,41.0,4.7,15.7,45.3,190.0,45.0,17.00,113.0,15.53,1.78
1,130379.0,17.0,3.9,20.0,0.79,217.0,88.0,31.0,6.3,15.2,43.9,135.0,60.0,6.64,99.0,19.91,2.03
2,130380.0,13.0,3.7,15.0,0.64,183.0,375.0,44.0,5.7,13.8,40.1,90.0,49.0,7.92,156.0,16.33,5.62
3,130386.0,34.0,4.3,20.0,0.82,185.0,140.0,28.0,5.5,15.4,43.5,111.0,46.0,4.07,100.0,11.38,1.05
4,130394.0,28.0,4.4,24.0,0.84,179.0,59.0,28.0,6.6,14.7,42.6,120.0,48.0,6.29,88.0,7.20,0.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3990,142300.0,17.0,4.0,20.0,0.56,164.0,133.0,15.0,7.0,9.0,29.0,89.0,55.0,12.90,95.0,10.35,2.85
3991,142301.0,16.0,4.3,28.0,1.03,138.0,143.0,14.0,9.1,14.5,42.8,67.0,48.0,46.29,110.0,5.62,1.11
3992,142303.0,27.0,4.3,30.0,0.62,111.0,152.0,30.0,5.3,14.1,42.5,53.0,34.0,16.13,160.0,17.09,2.15
3993,142305.0,18.0,4.0,30.0,0.63,180.0,189.0,17.0,17.4,13.6,39.4,101.0,51.0,8.01,132.0,24.86,2.50
3995,142309.0,59.0,4.5,25.0,1.05,255.0,106.0,21.0,3.5,14.7,43.9,179.0,54.0,3.65,96.0,6.22,0.53

In [204]:
df_merged2.to_pickle("df_lab.pkl")