In [110]:
#data load, concat(ref=SEQN), dropna

import pandas as pd
from functools import reduce

#data load, feature name alteration
df = pd.read_sas(r"C:\Users\cmc\Desktop\monash AI\data\DIQ_L.xpt", format='xport')
df_fil=df[['SEQN','DIQ010']] 


df_fil=df_fil.dropna()
print(df_fil[['DIQ010']].value_counts())



df_fil = df_fil.rename(columns={
    'SEQN': 'subject_no',
    'DIQ010': 'dbs'
})

df_fil.shape

DIQ010
2.0       10371
1.0        1081
3.0         284
9.0           4
Name: count, dtype: int64

(11740, 2)

In [111]:
df_fil = df_fil[df_fil['dbs'] != 9.0]
df_fil[['dbs']].value_counts()  
counts = df_fil['dbs'].value_counts()
counts_sorted = counts.sort_index()
print(counts_sorted)

dbs
1.0     1081
2.0    10371
3.0      284
Name: count, dtype: int64

In [112]:
df_fil

       subject_no  dbs
0        130378.0  2.0
1        130379.0  2.0
2        130380.0  1.0
3        130381.0  2.0
4        130382.0  2.0
...           ...  ...
11739    142306.0  2.0
11740    142307.0  1.0
11741    142308.0  2.0
11742    142309.0  2.0
11743    142310.0  2.0

[11736 rows x 2 columns]

In [113]:
#outlier extract
df_fil = df_fil[df_fil['dbs'] != 9.0]

replace_dict = {1.0: 2, 2.0: 0,3.0:1}

# 값 치환
df_fil['dbs'] = df_fil['dbs'].replace(replace_dict)

df_fil[['dbs']].value_counts()  
counts = df_fil['dbs'].value_counts()
counts_sorted = counts.sort_index()
print(counts_sorted)

dbs
0.0    10371
1.0      284
2.0     1081
Name: count, dtype: int64

In [114]:
df_fil

       subject_no  dbs
0        130378.0  0.0
1        130379.0  0.0
2        130380.0  2.0
3        130381.0  0.0
4        130382.0  0.0
...           ...  ...
11739    142306.0  0.0
11740    142307.0  2.0
11741    142308.0  0.0
11742    142309.0  0.0
11743    142310.0  0.0

[11736 rows x 2 columns]

In [115]:
df_fil.to_pickle("df_true.pkl")